.imagemLista{
	width:508px;
	margin-left:24px;
}
.tabelaTop10{
	padding-top: 76px;
    margin-left: 60px;
    line-height: 15px;
    color: rgb(61, 61, 59);
    font-family: Verdana;
    width: 336px;
}
.tabelaTop10 tr td{
    background-color:#D5D5D5; 
    height:46px;
}
.tabelaTop10 tr td:hover{
    opacity:0.5;
    cursor: pointer;
}